{# Nothing to show #}
{#
{%- set settings = pluginRewardPointsProperties.eventsResults.SETTINGS.getSettings.data -%}
<div class="rewardPointsSummary">
    <div class="rewardPointsItem">
        <div class="rewardPointsTotalEarning">
            Show points summary here
        </div>
    </div>
</div>
#}
