
{%- extends layout -%}

{%- block content -%}
    <div data-mff-anchor="__page_start__"></div>
    {% import macrosCore.widget as widgetMacros %}
    {{ widgetMacros.widgets({
        pages: pages,
        version: version,
        widgetTemplateList: widgetTemplateList
    }) }}

    {% if isMagicfrontEnabled %}
        <script type="module" src="{{ mgfAssetsUrl }}"></script>
    {% else %}
        {% include 'includes/magic-front-loader.twig' %}
    {% endif %}
{%- endblock content -%}

