
{%- extends layout -%}

{%- block content -%}
    <div data-dcs-anchor="__page_start__"></div>
    {% import macrosCore.widget as widgetMacros %}
    {{ widgetMacros.widgets({
        pages: pages,
        version: version,
        widgetTemplateList: widgetTemplateList
    }) }}

    {# Include DCS loaders directly in content block #}
    {% include '/includes/dcs-css-loader.twig' %}
    {% include '/includes/dcs-js-loader.twig' %}

    {% if isDcsEnabled %}
        <script type="module" src="{{ mgfAssetsUrl }}"></script>
    {% endif %}
{%- endblock content -%}

