<div class="sequra-promotion-widget"
        data-amount="{{total}}"
        data-product="{{subPaymentType}}"
        data-theme="black" 
        data-reverse="1"
        data-type="text" 
        data-size="M" 
        data-alignment="center" 
        data-font-color="#353735" 
        data-background-color="transparent" 
        data-branding="default">
</div>